<app-login-modal *ngIf="showLoginForm" [@enterAnimation] (onClose)="toggleLoginForm($event)" style="z-index: 10000;"></app-login-modal>

<div class="blur" [class.sticky-top]="sticky">
  <div class="container border border-right-0 border-left-0 border-top-0">
    <div class="row">
      <div class="col hideWhenMobile">
      </div>
      <div class="col text-center" style="font-family: SansSerif;">
        <a routerLink="" class="logoTitle"><h1><strong>Medium</strong></h1></a>
      </div>
      <div class="col d-flex justify-content-end">
        <button *ngIf="isLoggedIn" type="button" class="btn btn-outline-success align-self-center" (click)="newPost()">New Post</button>
        <button *ngIf="!isLoggedIn" type="button" class="btn btn-outline-success align-self-center" (click)="toggleLoginForm()">Get Started</button>
        <button *ngIf="isLoggedIn" type="button" class="btn btn-outline-dark align-self-center ml-4" (click)="logout()">Logout</button>
      </div>
    </div>
  </div>
</div>

<div *ngIf="!sticky" class="sticky-top border border-top-0 border-left-0 border-right-0 blur ">
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" routerLinkActive="active" *ngFor="let item of links"
             routerLink={{item.route}}>
            {{item.name}}
          </a>
        </div>
      </div>
    </nav>
  </div>
</div>
