.categoryButton {
  border-radius: 10px;
  border: 2px solid cornflowerblue;
}

.width60 {
  width:60%;
  margin: auto;
}

.main-img {
  overflow: hidden;
  width: 100%;
}

.post-content {
  white-space: pre-line;
  font-family: SansSerif;
  font-size: 1.4em;
  text-align: justify;
}

.inputTitle {
  font-size: 2em;
  font-weight: bold;
}

.noOutline {
  text-decoration: none;
  background: transparent;
  outline: none;
  border: none;
}

textarea:focus, input:focus{
  outline: none;
  border: none;
}

[contenteditable=true] {
  cursor: text;
}

button {
  cursor: pointer;
}

button:focus, button:active{
  outline: none;
  box-shadow: none;
}
[contenteditable=true]:empty:before {
  content: attr(placeholder);
  color: #666666;
  display: block;
}

@media (max-width: 769px) {
  .width60 {
    width: 100%;
  }


}
