<div class="container">
  <div class="my-5 width60">
    <div>
      <div class="noOutline my-5 inputTitle" style="height: auto;" contenteditable="true">Title goes here</div>
    </div>
    <div class="my-4">
      <app-author-bar authorName="Dan Sapio" timeToRead="4 min" publishDate="4 Nov"></app-author-bar>
    </div>
  </div>
  <img src="assets/images/placeholder.png" class="main-img"/>
  <div class="width60">
    <div class="post-content noOutline my-5" style="height: auto;" contenteditable="true">Type your awesome thoughts here.</div>
    <button type="button" class="btn btn-outline-success align-self-center" (click)="savePost()">Publish</button>
  </div>

</div>
