<div class="modalGradient">
  <div class="myModal" [ngStyle]="{'background-color': (isSignUpPage ? '#E8F3EC': '#D7EFEE')}">
    <img src={{modalImage}} class="modalImg"/>
    <i class="fa fa-times pull-right m-3 hoverable" aria-hidden="true"
    (click)="onClose.emit(null)"></i>
    <div>
      <div class="myModalContainer my-auto">
        <h3 style="font-family: SansSerif" class="text-center"><strong>{{modalHeading}}</strong></h3>
        <div class="text-center">
          {{modalSubHeading}}
        </div>
        <div class="my-5">
          <div class="form-group" [ngStyle]="{'visibility': isSignUpPage? 'visible': 'hidden'}">
            <input #inputFullName type="text" class="form-control" aria-describedby="FullnameHelp"
                   placeholder="Enter Full Name" minlength="6" required>
          </div>
          <div class="form-group">
            <input #inputName type="text" class="form-control" aria-describedby="UsernameHelp"
                   placeholder="Enter User name" minlength="6" required>
          </div>
          <div class="form-group">
            <input #inputPassword type="password" class="form-control"  placeholder="Password" minlength="6" required>
          </div>
          <button class="btn btn-primary mx-auto"
                  (click)="isSignUpPage? performSignUp(inputFullName.value, inputName.value, inputPassword.value)
                  : performLogin(inputName.value, inputPassword.value)">{{formAction}}</button>
        </div>
        <div class="text-muted myMuteText">
          {{modalHelperText}}<span style="color: green; cursor:pointer;"class="mx-1"(click)="switchLogin()" >{{modalHelperAction}}</span>
        </div>
      </div>
    </div>
    <div class="myError" *ngIf="errorMessage">
      {{errorMessage}}
    </div>
  </div>
</div>
