<div class="blur" [class.sticky-top]="sticky">
  <div class="container border border-right-0 border-left-0 border-top-0">
    <div class="row">
      <div class="col">
      <!--TODO: Add Search bar -->
      </div>
      <div class="col text-center">
        <h1><strong>Medium</strong></h1>
      </div>
      <div class="col d-flex justify-content-end">
        <button type="button" class="btn btn-outline-success align-self-center">New Post</button>
      </div>
    </div>
</div>
</div>

<div *ngIf="!sticky" class="sticky-top bg-white border border-top-0 border-left-0 border-right-0">
  <div class="container">
    <nav class="navbar navbar-expand-sm navbar-light">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">Home</a>
        <a class="nav-item nav-link" href="#">Technology</a>
        <a class="nav-item nav-link" href="#">Creativity</a>
        <a class="nav-item nav-link" href="#">Entrepreneurship</a>
        <a class="nav-item nav-link" href="#">Popular</a>
      </div>
    </nav>
  </div>
</div>
