<div class="row mt-4">
  <div class="col-md-4">
    <app-card-col-4-long *ngIf="data[0]" [data]="data[0]"
                         (selected)="showPost($event)"
    ></app-card-col-4-long>
  </div>
  <div class="col-md-8">
    <div class="row">
      <app-card-col-4-small *ngIf="data[1]" class="col" [data]="data[1]"
                            (selected)="showPost($event)"
      ></app-card-col-4-small>
      <app-card-col-4-small *ngIf="data[2]" class="col" [data]="data[2]"
                            (selected)="showPost($event)"></app-card-col-4-small>
    </div>
    <div class="row mt-3">
      <app-card-col-4-small *ngIf="data[3]" class="col" [data]="data[3]"
                            (selected)="showPost($event)"></app-card-col-4-small>
      <app-card-col-4-small *ngIf="data[4]" class="col" [data]="data[4]"
                            (selected)="showPost($event)"></app-card-col-4-small>
    </div>
  </div>
</div>
