<div class="container">
  <div class="my-5 width60">
    <div><h2><strong>Snapchat’s Best Product is Also The Least Popular</strong></h2></div>
    <div class="my-4">
      <app-author-bar authorName="Dan Sapio" timeToRead="4 min" publishDate="4 Nov"></app-author-bar>
    </div>
  </div>
  <img src="https://cdn-images-1.medium.com/max/1250/1*MEh4z8au0_lPRCSLu2j5Yg.png" class="main-img"/>
  <div class="post-content width60">

    Let’s talk about Snapchat Spectacles, something you’ve likely never even heard of. Or if you have, it probably wasn’t from Snapchat.

    And I completely understand why — they’ve done an awful job of marketing what I would consider to be their best product.

    I read today that Snapchat spectacles are losing $40 million for Snap and they have over 300,000 pairs sitting in a warehouse. Snap stock fell 17% in AHT after reporting unimpressive Q3 earnings and announcing plans to launch a redesign.
    <br>
    <i class="fa fa-heart-o fav">&nbsp;Add to Favourite</i>
  </div>


</div>
