<div class="container">
  <div class="my-5 width60">
    <div><h2><strong>{{data?.title}}</strong></h2></div>
    <div class="my-4">
      <app-author-bar authorName={{data?.user?.name}} timeToRead={{data?.timeToRead}}
                      publishDate="4 Nov"></app-author-bar>
    </div>
  </div>
  <img [src]="imgSrc" class="main-img"/>
  <div class="post-content width60">
    {{data?.content}}
    <br>
  </div>
  <div class="width60">
  <i class="fa fa-trash-o fav hoverable mr-4"
     *ngIf="userId && userId==data?.user._id" (click)="deletePost()">&nbsp;Unpublish</i>
  <i class="fa fa-heart-o fav hoverable"
     *ngIf="userId && userId != data?.user._id && !isFavourite" (click)="addToFavourite()">&nbsp;Favourite</i>
  <i class="fa fa-heart fav hoverable"
     *ngIf="userId && userId != data?.user._id && isFavourite" (click)="removeFromFavourites()">&nbsp;Unfavourite</i>
  </div>
</div>
