.width60 {
  width:60%;
  margin: auto;
}

@media (max-width: 769px) {
  .width60 {
    width:100%;
  }
}

.main-img {
  overflow: hidden;
  width: 100%;
}

.post-content {
  white-space: pre-line;
  font-family: SansSerif;
  font-size: 1.4em;
  text-align: justify;
}

.fav {
  border: 1px solid red;
  font-size:0.8em;
  color: red;
  border-radius: 10px;
  padding: 0.5em
}
