.main-img {
  height:300px;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  margin-right: 0;
  display: block;
  position: relative;
}

.subHeading {
  color: darkgray;
  overflow: hidden;
  display: block;
  word-wrap: break-word;
  max-height: 4.2em;
  line-height: 1.4em;
}

.card {
  height: 600px;
}

.bottomContainer {
  position: absolute;
  bottom: 0;
  font-size: 0.8em;
}

.card-title {
  font-size: 1.4em;
  line-height: 1.4em;
  max-height: 4.2em;
  overflow: hidden;
}
@media screen and (max-width: 500px) {
  .card-title {
    font-size: 1em;
  }
}


