<app-head></app-head>
<div class="container">
  <app-subhead title="Popular on Medium"></app-subhead>
  <app-group-four [data]="popularData"></app-group-four>

  <div class="row my-4">
    <div class="col">
      <div class="display-4">
        <strong>Interesting ideas that set your mind in motion.</strong>
      </div>
      <div class="lead my-4">
        Hear directly from the people who know it best. From tech to politics to creativity and more — whatever your interest, we’ve got you covered
      </div>
      <div class="mt-5">
        <button type="button" class="btn btn-dark">Get Started</button>
        <button type="button" class="btn btn-outline-secondary">Learn More</button>
      </div>
    </div>
    <div class="col">
      <img src="https://cdn-images-1.medium.com/max/2000/1*NV54YLXyvmeUtCXSPHJq5g.png"/>
    </div>
  </div>

  <app-subhead title="Technology"></app-subhead>
  <app-group-five [data]="technologyData"></app-group-five>

  <app-subhead title="Creativity"></app-subhead>
  <app-group-five [data]="creativeData"></app-group-five>

  <app-subhead title="Entrepreneurship"></app-subhead>
  <app-group-five [data]="entreData"></app-group-five>
</div>
