<div class="media border">
  <div class="main-img hoverable" [style.background-image]="imgUrl"
       (click)="selected.emit(data._id)"> </div>
  <div class="media-body m-3">
    <h5 class="mt-0 hoverable"
        (click)="selected.emit(data._id)">{{data.title}}</h5>
      <div class="subHeading hoverable" (click)="selected.emit(data._id)">{{data.content}}</div>


    <div class="bottomContainer m-2 hoverable" (click)="selected.emit(data._id)">
      <app-author-bar
        [authorName]="data.user.name" [publishDate]="formattedDate" [timeToRead]="data.timeToRead">
      </app-author-bar>
    </div>

  </div>
</div>
